@using ZSTU_journal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

<h4>@ViewBag.Title.</h4>
 <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s3">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/materialize.js")
    @Scripts.Render("~/Scripts/materialize.min.js") 
}